* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --custom-blue: #4285f4;
  --custom-red: #ea4335;
}

body {
  background-color: whitesmoke;
}

main {
  margin-left: 10rem;
  padding: 5px;
}

.input {
  margin: 0.5rem;
  padding: 0.5rem;
}

.button {
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  color: white;
  background-color: var(--custom-blue);
  border-radius: 0.2rem;
}

.button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  main {
      margin-left: 0;
  }
}

.links {
  font-size: larger;
  text-decoration: none;
  color: var(--custom-blue);
}

.linkBtnBlanco {
  text-decoration: none;
  background-color: white;
  color: black;
  border: 1px solid lightgray;
  box-shadow: 0px 8px 15px 1px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0.25rem;
  font-size: small;
}