.inicioColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600px) {
    .inicioColumns{
      grid-template-columns: 1fr;
    }
  }

.inicioText {
    font-size: larger;
    margin-top: 0.25rem;
}

.inicioNum {
    color: var(--custom-blue);
}

.inicioUltimosList {
    display: flex;
    flex-direction: column;
}