.librosContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.libroTarjeta {
    background-color: white;
    box-shadow: 0px 8px 15px 1px rgba(0,0,0,0.05);
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0.5rem;
    display: grid;
    place-items: center;
    padding: 2rem;
}

.libroLink {
    text-decoration: none;
    color: black;
}