.proyectosMainDiv {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}

.proyectosSoftwareList {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    .proyectosMainDiv{
      grid-template-columns: 1fr;
    }
}